.App {
  text-align: center;
  background-color: rgb(0, 14, 92);
}

.transition {
  color: white;
}

@keyframes status_transition{
  from {color:rgb(0, 14, 92)}
  to {color: white;}
}

.btn {
  transition: 200ms;
  color: white;
  cursor: pointer;
}

.btn:hover {
  transition: 200ms;
  color: #FF4444;
}

input {
  text-align: center;
  font-weight: bold;
  background-color: #FF4444;
  width: 25px;
  color: black;
  border-radius: 25px;
}