@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
.App {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(0, 14, 92);
}

.transition {
  color: white;
}

@keyframes status_transition{
  from {color:rgb(0, 14, 92)}
  to {color: white;}
}

.title {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: 'Sanchez', serif;
  letter-spacing: 10px;
}
.btn {
  transition: 200ms;
  color: white;
  cursor: pointer;
}

.btn:hover {
  transition: 200ms;
  color: #FF4444;
}

input {
  text-align: center;
  font-weight: bold;
  background-color: #FF4444;
  width: 40px;
  color: black;
  border-radius: 25px;
}

.footer {
  font-size: small;
  color: white;
}